<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hoshimusubi.seunga.mapper.UserMapper">


<resultMap id="UserMap" type="com.hoshimusubi.seunga.model.UserVO">
  <id property="id" column="id"/>
  <result property="userId" column="user_id"/>
  <result property="zodiacId" column="zodiac_id"/>
  <result property="birthDate" column="birth_date"/>
  <result property="profilePic" column="profile_pic"/>
</resultMap>

<select id="getUserById" parameterType="String" resultMap="UserMap">
  SELECT * FROM users WHERE user_id = #{value}
</select>

<insert id="insertUser" parameterType="com.hoshimusubi.seunga.model.UserVO">
        INSERT INTO users 
            (user_id, password, zodiac_id, nickname, gender, birth_date, profile_pic)
        VALUES 
            (#{userId}, #{password}, #{zodiacId}, #{nickname}, #{gender}, #{birthDate}, #{profilePic, jdbcType=VARCHAR})
    </insert>
    
   <select id="countByNickname" parameterType="string" resultType="int">
  SELECT COUNT(*) 
  FROM users
  WHERE nickname = #{nickname}
</select>

</mapper>