
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!-- settings는 typeAliases보다 먼저 와야 함 -->
    <settings>
        <!-- DB의 underscore 스타일 → camelCase 자동 매핑 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- typeAliases: 패키지 경로 및 별칭 설정 -->
    <typeAliases>
        <typeAlias type="com.hoshimusubi.junwoo.dto.MemberDTO" alias="member"/>
    </typeAliases>

</configuration>